/* styles/globals.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  margin-top: 3rem;
  color: #026655;
  padding: 1rem;
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
}

body {
  font-family: 'Inter', sans-serif;
background-color: #e0f2f1;  color: #333;
}

/* estilos globales para la página legal */

h1, h2, h3, h4, h5, h6 {
  color: #004d40;
  margin-bottom: 1rem;
  font-weight: 600;
}

p {
  margin-bottom: 1rem;
  line-height: 1.5;
  font-size: 1rem;
  color: #555;
}

a {
  color: #00796b;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  color: #004d40;
  text-decoration: none;
}

/* Clases reutilizables */

.container {
  max-width: 720px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.text-center {
  text-align: center;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}


.betaVersion {
  font-size: 0.85rem;
  color: #888;
  margin-top: 1.5rem;
  font-style: italic;
}

.footer {
  text-align: center;
  padding: 1rem 0;
  font-size: 0.85rem;
  color: #666;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer a {
  color: #00796b;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
