.header {
  background-color: #e0f2f1; /* mismo color que el fondo del main */
  color: #004d40;
  padding: 1rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #e0f2f1;
}

.loginBox {
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  width: 90vw;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.loginInfoContainer {
  text-align: center;
}

.loginInfo {
  margin: 1rem 0;
  font-size: 0.9rem;
  color: #555;
  font-style: italic;
}

.loginTitle {
  margin-bottom: 1.5rem;
  color: #004d40;
}

.googleButton,
.facebookButton {
  border: none;
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 280px;
}

/* Google */
.loginButton {
  background-color: #81b29a;
}

.loginButton:hover {
  background-color: #61876e;
}

/* Facebook */
.facebookButton {
  background-color: #3b5998;
}

.facebookButton:hover {
  background-color: #2d4373;
}

.googleLogo,
.facebookLogo {
  width: 20px;
  height: 20px;
}

.welcomeText {
  margin: 1rem 0 2rem;
  font-size: 1rem;
  color: #555;
}

.features {
  text-align: left;
  margin: 2rem 0 1.5rem;
  font-size: 0.95rem;
  color: #444;
}

.features ul {
  list-style-type: disc;
  padding-left: 1.2rem;
}

.features li {
  margin-bottom: 0.6rem;
}

.betaVersion {
  font-size: 0.85rem;
  color: #888;
  margin-top: 1.5rem;
  font-style: italic;
}

.footer {
  text-align: center;
  padding: 1rem 0;
  font-size: 0.85rem;
  color: #666;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer a {
  color: #00796b;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
